{% extends "layout.html" %}
  
{% block content %}  
          <div id='speaker'></div>
          <div class='stream' id='stream1'></div>
          <div class='stream' id='stream2'></div>
          <div class='stream' id='stream3'></div>
          <div class='stream' id='stream4'></div>
          <div class='stream' id='stream5'></div>
          <div class='stream' id='stream6'></div>
          <div class='stream' id='stream7'></div>
          <div class='stream' id='stream8'></div>
          <div id='mystream'></div>
          <div id='options'></div>
          <div id='dialogue'>
            <ul>
              <div id='agenda'><li>Agenda</li></div>
              <li>1.Sample</li>
              <li>2.Sample</li>
              <li>3.Sample</li>
              <li>4.Sample</li>
              <li>5.Sample</li>
              <li>6.Sample</li>

            </ul>
          </div>
{% endblock %}
